.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-self: center;
  width: 400px;
  min-height: 300px;
  padding: 40px 20px;
  margin: 10% 100px;
  background-color: #b4b1da;
  border-radius: 20px;
}

.title {
  color: #fff;
}

.success {
  color: green;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

.loading {
  text-align: center;
}
