* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  scroll-behavior: smooth;
}

ul,
ol {
  padding: 0 20px;
  color: #5b729f;
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: linear-gradient(to bottom, #5b729f, #a3c5f7);
  background-repeat: no-repeat;
  background-size: cover;
}

select {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: linear-gradient(to bottom, #5b729f, #a3c5f7);
  background-repeat: no-repeat;
  background-size: cover;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  outline: none;
}

button {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #5b729f;
}

h1 {
  font-size: x-large;
  font-weight: 700;
  color: #5b729f;
}

h2 {
  font-size: larger;
  font-weight: 700;
  color: #5b729f;
}

h3 {
  font-size: large;
  font-weight: 700;
  color: #5b729f;
}
