.wrapper {
  margin: 30px 60px;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.activeTab {
  padding: 10px 26px 8px;
  cursor: pointer;
  background-color: #b4b1da;
  border: 4px solid #e0deff;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

.tab {
  padding: 10px 26px 8px;
  cursor: pointer;
  background-color: #b4b1da;
  border-radius: 20px 20px 0 0;
  opacity: 70%;
}

.tab:hover {
  opacity: 94%;
}

.tab:active {
  opacity: 96%;
}

.tabName {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.content {
  min-height: 300px;
  max-height: 85vh;
  padding: 40px 16px 40px 20px;
  overflow-y: auto;
  scrollbar-color: #ffffff transparent;
  scrollbar-width: thin;
  background-color: rgba(180, 177, 218, 1);
  background-clip: padding-box;
  border-radius: 20px;
}

.content::-webkit-scrollbar {
  width: 14px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: #ffffff;
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 999px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  background-clip: content-box;
}
